.viewerContainer {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-smoothing: auto;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    background: #131619;
    color: #fff;
    letter-spacing: normal;
    user-select: none;
}

.viewerContainer * {
    box-sizing: border-box;
}

.viewerContainer h1,
.viewerContainer h2,
.viewerContainer h3,
.viewerContainer h4,
.viewerContainer h5,
.viewerContainer h6 {
    font-weight: normal;
}

.viewerContainer a {
    text-decoration: none;
}

.notifContainer {
    position: absolute;
    top: 16px;
    left: 16px;
}

.toggleNotif {
    background-color: rgba(30, 30, 30, 0.3);
    border-radius: 5px;
}

.toggleNotifEnter {
    opacity: 0;
}

.toggleNotifEnterActive {
    opacity: 1;
    transition: opacity 350ms;
}

.toggleNotifExit {
    opacity: 1;
}

.toggleNotifExitActive {
    opacity: 0;
    transition: opacity 350ms;
}

.toggleNotifExitDone {
    opacity: 0;
}

.toggleNotifContent {
    padding: 8px;
    margin-bottom: 8px;
}
